.sidenav {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1c262f;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 60px;
  }
  
  .sidenav a {
    padding: 16px;
    text-decoration: none;
    font-size: 15;
    text-align: center;
    color: white;
    display: block;
  }

  .sidenav a:hover {
    background-color: #2e3d49
  }
  .sidenav h1,p {
      color: white
      
  }

  h1 {
      font-size: 40px;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  
  .button-container {
      margin: 15px;
  }